SUPABASE_URL=https://zbkpsxzbyylbwvnsbcgq.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpia3BzeHpieXlsYnd2bnNiY2dxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzQ3NzE3OSwiZXhwIjoyMDg5MDUzMTc5fQ.4E_duUYTGaltM6UIhhWLe-8_bYCeI7GhPWr_eTxdHkI
AZURE_CLIENT_ID=41bb61d6-c277-4a44-9d0b-6634f4813f97
AZURE_TENANT_ID=9d94cb2f-05ce-4ac3-96a0-8a8a97437d2a
AZURE_CLIENT_SECRET=
OPENAI_API_KEY=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
ASSEMBLYAI_API_KEY=6555f9a5b4b8415d8ce319db8b208393
